<table width="80%">
    <tr>
        <th>Nom</th>
        <td>{{ collect.name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ collect.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ collect.mobile }}</td>
    </tr>
    <tr>
        <th>Adress</th>
        <td>{{ collect.adress }}</td>
    </tr>
</table>